
body
{
    font-family: Arial;
    font-size: 10pt;
}
.div
{
    height: 20px;
    width: 20px !important;
    margin: 2px;
    background-color: blueviolet;
    border-radius: 5px;
   
}
.draggable
{
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.dropped
{
    /* position: static !important; */
    top:0px !important;
}
#dvSource, #dvDest
{
    border: 5px solid #ccc;
    padding: 5px;
    min-height: 20px;
    width: 100px;
    overflow: hidden;
  
}
.div_drag{
    display: flex;
    flex-direction: row;
    width: 200px;
    overflow: hidden;
}


